@import './fonts';
@import '../scss/common/variables';
@import '../scss/common/extends.scss';
@import '../scss/common/mixins.scss';

html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	background-color: $header-background-color;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	overflow-wrap: break-word;
	color: black;
	margin: 0;

	@media (min-width: 768px) {
		background-image: url('../assets/images/tablet.png');
		background-repeat: no-repeat;
		background-size: contain;
	}
}

.page-header {
	.active-header .mobile-list {
		visibility: visible;
		opacity: 1;
	}
	&__desktop {
		padding-top: 25px;
		padding-left: 35px;
		position: fixed;
		z-index: 3;
		width: 100%;
		padding-right: 35px;
		.desktop-container {
			padding-top: 12px;
			padding-bottom: 12px;
			border-radius: 56px;
			@extend %header-navigation;
			padding-left: 24px;
			padding-right: 12px;
			.desktop__button {
				@extend %middle-button;
				background-color: $deep-dark-color;
				font-size: 14px;
				color: #fff;
				font-weight: 400;
			}
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			ul {
				display: flex;
				justify-content: center;
				@extend %horizontal-list;
				li {
					&:not(:last-child) {
						margin-right: 40px;
					}
				}
			}
		}
		@media (max-width: 767px) {
			display: none;
		}
		@media (min-width: 768px) {
			display: block;
		}
	}
	&__navigation {
		position: fixed;
		top: 10px;
		left: 16px;
		right: 16px;
		z-index: 2;

		@media (min-width: 768px) {
			display: none;
		}

		&.active-header {
			border-radius: 36px 36px 0 0;
		}

		border-radius: 36px;
		@extend %header-navigation;

		.container-list {
			padding: 16px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			position: relative;
			z-index: 3;
		}
		.burger {
			cursor: pointer;
		}
	}

	.mobile-list {
		position: relative;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.38s;

		.list-container {
			padding-left: 16px;
			padding-right: 16px;
			padding-bottom: 20px;
			border-radius: 0 0 24px 24px;
			position: absolute;
			display: flex;
			flex-direction: column;
			width: 100%;
			@extend %header-navigation;
			z-index: 1;
		}
		ul {
			margin-top: 0;
			padding-left: 16px;
			margin-bottom: 10px;
			@extend %vertical-list;
			li:not(:last-child) {
				margin-bottom: 32px;
			}
		}
		&__button {
			@extend %middle-button;
			background-color: #000;
			color: #fff;
			display: flex;
			justify-content: center;
			text-align: center;
			max-width: 130px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.page-content {
	margin-top: 90px;
	padding-bottom: 75px;

	@media (min-width: 768px) {
		margin-top: 0;
		padding-bottom: 0;
	}

	.team-info {
		@media (min-width: 768px) {
			background-image: none;
		}
		background-image: url('../assets/images/Bg_Mobile.png');
		background-position: 0 22%;
		background-size: cover;
		background-repeat: no-repeat;
		min-height: 320px;

		gap: 32px;

		&__container {
			@media (min-width: 1024px) {
				display: flex;
			}
			display: none;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 22px;
			position: relative;

			.content {
				@extend %box-blur;
				max-width: 205px;
				padding: 20px;
				.successful {
					font-size: 18px;
					font-weight: 700;
				}
				.average {
					color: #e3e3e3;
					font-size: 9px;
					font-weight: 600;
				}
				.progress {
					width: 100%;
					background-color: $main-dark-blue-color;
					height: 4px;
					border-radius: 4px;
					margin-top: 10px;
				}

				&:first-child {
					margin-top: 20px;
					margin-right: -45%;
				}
				&:last-child {
					margin-left: -45%;
				}

				.team-list {
					ul {
						@extend %horizontal-list;
						li {
							margin-right: -5px;
						}
					}
				}
			}
		}

		.name {
			font-size: 14px;
			font-weight: 700;
			img {
				vertical-align: middle;
			}
		}
	}

	.invitation {
		padding-left: 16px;
		padding-right: 16px;
		@media (min-width: 768px) {
			padding-left: 38px;
		}
		h2 {
			font-weight: 600;
			font-size: 26px;
			margin-top: 0;
			margin-bottom: 32px;
			@media (min-width: 768px) {
				font-size: 48px;
				max-width: 600px;
				margin-bottom: 40px;
			}
		}
		p {
			@include page-text(16px);
			@media (min-width: 768px) {
				@include page-text(18px);
				max-width: 530px;
				margin-bottom: 40px;
			}
			margin-bottom: 32px;
		}

		&__link-container {
			display: flex;
			flex-direction: row;
			gap: 8px;
			justify-content: flex-start;
			@media (min-width: 768px) {
				width: 50%;
				margin-bottom: 130px;
			}
			a {
				@media (min-width: 768px) {
					font-size: 16px;
					font-weight: 500;
				}
				display: inline-block;
				width: 100%;
				@extend %big-button;
				&:first-child {
					background-color: #000;
					color: #fff;
					font-size: 14px;
					font-style: normal;
					width: 100%;
				}
				&:last-child {
					padding-left: 25px;
					position: relative;
					img {
						position: absolute;
						top: 11px;
					}
					background-color: $main-yellow-color;
					color: #000;
					font-size: 14px;
					font-style: normal;
				}
			}
		}
	}
}

.main-video {
	padding-left: 12px;
	padding-right: 12px;
	@media (min-width: 768px) {
		padding-left: 38px;
		padding-right: 38px;
	}
	img {
		width: 100%;
	}
}

.dot-blue {
	color: $main-dark-blue-color;
}

.projects {
	background-color: #fff;
	border-radius: 20px 20px 0 0;
	margin-top: -20px;
	padding-top: 55px;

	&__examples {
		padding-left: 16px;
		padding-right: 16px;
		background-color: #fff;
		padding-bottom: 40px;

		@media (min-width: 768px) {
			padding-left: 35px;
			padding-right: 35px;
			display: flex;
			flex-direction: row;
			gap: 16px;
		}
	}

	&__container {
		@media (min-width: 768px) {
			width: 50%;
			&:last-child {
				margin-top: auto;
			}
		}
	}

	.card {
		&:not(:last-child) {
			margin-bottom: 16px;
		}
		&:nth-child(odd) {
			background-color: $project-background-color;
		}
		&:nth-child(even) {
			background-color: $main-dark-blue-color;
		}
		border-radius: 16px;
		&__header {
			padding-left: 27px;
			padding-top: 27px;
		}

		&__body {
			display: flex;
			justify-content: center;
		}

		.technoligies {
			ul {
				margin-top: 0;
				margin-bottom: 32px;

				li {
					@extend %small-button;
					font-size: 9.615px;
					color: #fff;
					font-weight: 500;
					background-color: $main-dark-blue-color;

					&:not(:last-child) {
						margin-right: 6px;
					}
				}
			}
		}
	}

	h2 {
		@extend %large-header;
		text-align: center;
		margin-bottom: 32px;

		@media (min-width: 768px) {
		}
	}
	h3 {
		@extend %project-header;
		margin-bottom: 14px;
	}

	p {
		@include page-text(16px);
		margin-bottom: 12px;
	}

	.technoligies {
		ul {
			@extend %horizontal-list;
		}
	}
}

.projects-cases {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 60px;
	background-color: #fff;

	@media (min-width: 768px) {
		padding-bottom: 5px;
	}

	h3 {
		font-size: 20px;
		color: $main--dark-header-color;
		font-weight: 600;
		margin-bottom: 20px;
		margin-top: 0;
	}
	p {
		color: $main-header-color;
		margin-top: 0;
		margin-bottom: 30px;
	}
	a {
		padding-left: 32px;
		padding-right: 62px;
		font-size: 16px;
		font-weight: 500;
		width: 220px;
		padding-top: 11px;
		padding-bottom: 11px;
		border-radius: 40px;
		background-color: $deep-dark-color;
		color: #fff;
		position: relative;

		img {
			position: absolute;
			top: 10px;
			right: 35px;
		}
	}
}

.technologies {
	padding-top: 55px;
	padding-bottom: 55px;
	background-color: $header-background-color;
	ul {
		padding: 0;
		overflow-x: auto;
		white-space: nowrap;
		justify-content: space-around;
		display: flex;
		flex-direction: row;
		list-style: none;

		li {
			flex-shrink: 0;
			margin-right: 24px;
		}
	}
}

.advantages {
	padding-bottom: 40px;
	padding-left: 45px;
	padding-right: 45px;
	border-radius: 20px 20px 0 0;
	margin-top: -39px;
	background-color: #fff;
	padding-top: 55px;
	h3 {
		font-weight: 600;
		font-size: 24px;
		color: $header-dark-color;
		text-align: center;
		margin-bottom: 45px;
		margin-top: 0;

		@media (min-width: 768px) {
			font-size: 34px;
		}
	}

	&__recall {
		span {
			text-transform: uppercase;
			font-size: 12px;
			color: $main-orange-color;
			font-weight: 700;
			margin-bottom: 8px;
			@media (min-width: 768px) {
				font-size: 14px;
			}
		}

		h4 {
			font-size: 18px;
			color: $header-dark-color;
			font-weight: 500;
			margin-top: 0;
			margin-bottom: 12px;
			margin-bottom: 12px;
			@media (min-width: 768px) {
				font-size: 28px;
			}
		}

		p {
			@include page-text(16px);
			color: $main-header-color;
			margin-top: 0;
			margin-bottom: 55px;
		}
	}

	&__desktop {
		@media (min-width: 768px) {
			.text-info {
				width: 50%;
			}
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
		}
	}
}

.tab-content {
	animation: fadeEffect 0.5s; /* Fading effect takes 1 second */

	span {
		color: $sun-yellow-color;
	}
}

@keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.services {
	padding-top: 72px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: $header-background-color;
	padding-bottom: 76px;

	@media (min-width: 768px) {
		padding-top: 100px;
		padding-left: 35px;
	}

	p {
		margin-top: 0;
		margin-bottom: 32px;
		max-height: 170px;
		overflow-y: auto;
		@extend %alt-page-text;
		@media (min-width: 768px) {
			font-size: 16px;
		}
	}

	&__tabs {
		ul {
			@extend %vertical-list;
			margin-top: 0;
			margin-bottom: 40px;
			li {
				.tab-item {
					position: relative;
					font-size: 16px;
					font-weight: 400;
					color: $tab-link-color;
					letter-spacing: -0.32px;

					@media (min-width: 768px) {
						font-size: 18px;
					}

					&.active-link {
						@extend %active-link;
						padding-left: 34px;

						&::before {
							position: absolute;
							content: '';
							height: 4px;
							width: 20px;
							background-color: $sun-yellow-color;
							border-radius: 14px;
							left: 0;
							bottom: 8px;
							@media (min-width: 768px) {
								bottom: 12px;
							}
						}
					}
				}
				&:not(:last-child) {
					margin-bottom: 16px;
				}
			}
		}
	}
	h3 {
		@extend %large-header;
		text-align: center;
		margin-bottom: 24px;

		@media (min-width: 768px) {
			font-size: 32px;
			text-align: left;
			font-weight: 500;
		}
	}

	h4 {
		text-align: center;
		color: $header-dark-color;
		font-size: 20px;
		font-weight: 500;
		letter-spacing: -0.4px;
		@media (min-width: 768px) {
			text-align: left;
			font-size: 28px;
			letter-spacing: -0.56px;
		}
	}

	&__image {
		img {
			background-size: cover;
			width: 100%;
		}
	}
}

.about {
	@media (min-width: 768px) {
		.desktop-container {
			display: flex;
			flex-direction: row;
			gap: 20px;
		}
	}

	padding-top: 72px;
	background-color: #fff;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 120px;
	@media (min-width: 768px) {
		padding-left: 35px;
		padding-right: 35px;
	}
	.about-button {
		img {
			position: absolute;
			top: 25px;
			right: 20px;
		}
		position: relative;
		padding: 25px;
		font-size: 16px;
		color: $deep-dark-color;
		font-weight: 600;
		background-color: $main-yellow-color;
		border-radius: 8px;
		cursor: pointer;
	}
	h3 {
		@extend %large-header;
		margin-bottom: 25px;
		@media (min-width: 768px) {
			width: 360px;
			font-size: 34px;
			font-weight: 500;
			margin-bottom: 0;
		}
	}

	p {
		margin-top: 0;
		margin-bottom: 56px;
		@extend %alt-page-text;
		@media (min-width: 768px) {
			font-size: 16px;
			font-weight: 400;
		}
	}

	&__images {
		@media (min-width: 768px) {
			display: flex;
			flex-direction: row;
			gap: 7px;
		}
		.grid-block {
			display: flex;
			gap: 8px;
			flex-direction: row;
			&:first-child {
				margin-bottom: 8px;
			}
		}
		.block {
			display: flex;
			gap: 8px;
			flex-direction: column;
		}
	}
}

.special-gradient {
	background-image: linear-gradient(11deg, $deep-dark-color 50%, white 50%);
}

.customer {
	background-color: #fff;
	padding-left: 20px;
	padding-bottom: 100px;
	@media (min-width: 768px) {
		padding-bottom: 120px;
	}

	&__navigation {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-right: 20px;

		.buttons-container {
			position: relative;
			padding-right: 23px;
		}
	}
	h3 {
		@extend %large-header;
		margin-bottom: 32px;
		width: 260px;

		@media (min-width: 768px) {
			font-size: 34px;
			font-weight: 500;
			width: 100%;
		}
	}

	&__cards {
		.card {
			border-radius: 8px;
			margin-bottom: 20px;
			margin-right: 28px;
			min-height: 342px;
			padding: 20px;
			background-color: $customer-card-color;
			&__header {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}
			&__body {
				 h4 {
					font-size: 16px;
					color: $main--dark-header-color;
					font-weight: 700;
				}
				p {
					margin-top: 0;
					margin-bottom: 20px;
					@extend %card-text;
				}
			}
			&__footer {
				.customer-info {
					p {
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						color: $main--dark-header-color;
					}

					span {
						font-size: 13px;
						font-style: normal;
						font-weight: 500;
						color: $main-dark-blue-color;
					}
				}
			}
			&__customer {
				.customer-image {
					margin-right: 8px;
				}
				display: flex;
				flex-direction: row;

				.customer-info {
					p {
						margin-top: 0;
						margin-bottom: -3px;
					}
				}
			}
		}
	}
}

.feedback {
	@media (min-width: 768px) {
		padding-left: 37px;
		padding-right: 37px;
		display: flex;
		flex-direction: row;
		gap: 48px;
		justify-content: center;
		.container {
			&:first-child {
				width: 70%;
			}
		}
	}
	background-color: #fff;
	border-bottom-left-radius: 20px;
	padding-bottom: 128px;
	&__contacts {
		.container {
			&:not(:last-child) {
				margin-bottom: 24px;
			}
			display: flex;
			align-items: center;
			img {
				margin-right: 16px;
			}
		}
		position: relative;
		color: $main-dark-blue-color;
		font-size: 14px;
		font-weight: 500;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 45px;

		@media (min-width: 768px) {
			font-size: 16px;
		}
	}
	padding-left: 20px;
	padding-right: 20px;
	h3 {
		@extend %large-header;
		margin-bottom: 16px;
		@media (min-width: 768px) {
			font-size: 34px;
			font-weight: 500;
			color: $button-tech-color;
		}
	}

	p {
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		margin-bottom: 40px;
		color: $dark-green-color-text;
	}
	&__form {
		.button-container {
			button {
				cursor: pointer;
				width: 100%;
				border-color: transparent;
				padding-top: 11px;
				padding-bottom: 11px;
				text-align: center;
				font-size: 16px;
				color: #fff;
				border-radius: 8px;
				font-weight: 500;
				background-color: $deep-dark-color;
			}
		}
		.checkbox-container {
			margin-bottom: 32px;
			.checkbox-button {
				&:not(:first-child) {
					margin-right: 8px;
				}
				cursor: pointer;
				font-size: 14px;
				color: $chekbox-border-color;
				font-weight: 500;
				padding: 8px 12px;
				border-radius: 40px;
				border: 1px solid var(--gray-300, $chekbox-border-color);

				&.active-checkbox {
					background-color: $main-yellow-color;
					color: $chekbox-active-text;
					border-color: transparent;
				}
			}
			input {
				display: none;
			}
		}
		p {
			margin-bottom: 16px;
			margin-top: 0;
			font-size: 16px;
			color: $main-text-color;
			font-weight: 500;
		}
		.input-container {
			input,
			textarea {
				&:last-child {
					height: 130px;
					resize: none;
					font-family: 'Inter', sans-serif;
					font-size: 14px;
					color: $input-text-color;
					font-weight: 500;
				}
				&:nth-child(2),
				&:first-child {
					margin-bottom: 12px;
				}
				width: 100%;
				padding: 14px 20px;
				font-size: 14px;
				color: $input-text-color;
				font-weight: 500;
				outline: none;
				border: 1px solid var(--dark-200, $input-border-color);
				border-radius: 8px;
			}
		}
	}
}

.footer {
	padding-left: 20px;
	padding-right: 20px;
	@media (min-width: 768px) {
		padding-left: 35px;
		padding-right: 35px;
	}
	.container {
		@media (min-width: 768px) {
			display: flex;
			flex-direction: row;
		}
	}
	border-top-right-radius: 40px;
	padding-top: 60px;
	background-color: $deep-dark-color;
	h3 {
		@extend %page-header;
		color: #fff;
		margin-bottom: 20px;
	}

	p {
		color: #fff;
		font-size: 14px;
		font-weight: 400;
		opacity: 0.6;
		margin-top: 0;

		padding-right: 20px;
		margin-bottom: 32px;
	}
	&__social {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-bottom: 64px;

		a {
			cursor: pointer;
			margin-right: 17px;
		}
	}

	&__explore {
		margin-bottom: 64px;
		display: flex;
		flex-direction: column;

		gap: 20px;
		div {
			padding-left: 60px;
			padding-right: 60px;
			cursor: pointer;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			a {
				color: #fff;
			}
		}
		h4 {
			@extend %footer-header;
		}
	}
	&__in-touch {
		margin-bottom: 56px;
		div {
			display: flex;
			flex-direction: column;
			padding-left: 60px;
			padding-right: 60px;
			font-size: 16px;
			font-weight: 400;
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
		h4 {
			@extend %footer-header;
		}
		color: #fff;
	}

	&__underline {
		background-color: #666;
		width: 350px;
	}

	&__rights {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 40px;
		padding-top: 20px;
		@extend %page-rights;
	}
}

/* Styles for custom navigation arrows */

.swiper-button-next:after,
.swiper-button-prev:after {
	font-size: 0;
}
.swiper-button-next,
.swiper-button-prev {
	width: 32px;
	height: 32px;
	background-size: contain;
	background-repeat: no-repeat;
}

.swiper-button-next {
	background-image: url('../assets/images/swiper-forward-button.svg');
}

.swiper-button-prev {
	left: -60px;
	background-image: url('../assets/images/swiper-backward-button.svg');
}
