@import './fonts';
@import '../scss/common/variables';
@import '../scss/common/extends.scss';

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	overflow-wrap: break-word;
	color: black;
	background-color: white;
}

p {
	font-weight: medium;
}

.page-header {
	&__navigation {
		.mobile-list {
			ul {
				@extend %vertical-list;
				li:not(:last-child) {
					margin-bottom: 32px;
				}
			}
			&__button {
				@extend %middle-button;
				background-color: #000;
				color: #fff;
				display: flex;
				justify-content: center;
				text-align: center;
				max-width: 130px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

.team-info {
	display: flex;
	flex-direction: column;

	&__content {
		&:first-child {
			margin-left: auto;
		}
		@extend %box-blur;
		max-width: 200px;

		.team-list {
			ul {
				@extend %horizontal-list;
			}
		}
	}
}

.invitation {
	h1 {
		font-weight: normal;
		font-size: 26px;
		margin-top: 0;
		margin-bottom: 32px;
	}
	p {
		@extend %page-text;
	}

	&__link-container {
		a {
			@extend %big-button;
			&:first-child {
				background-color: #000;
				color: #fff;
				font-size: 14px;
				font-style: normal;
			}
			&:last-child {
				background-color: $main-yellow-color;
				color: #fff;
				font-size: 14px;
				font-style: normal;
			}
		}
	}
}

.projects {
	h2 {
		@extend %page-header;
	}
}
