$main-yellow-color: #ffeb6b;
$main-orange-color: #fcca13;
$sun-yellow-color: #ffde45;
$header-dark-color: #0b103d;
$main-header-color: #6e6e86;
$main-text-color: #565672;
$header-background-color: #f8f8f8;

$chekbox-border-color: #a4a4a4;
$chekbox-active-text: #3e3d5d;

$input-text-color: #b7b6c2;
$input-border-color: #cfcfd7;

$tab-link-color: #87869a;
$alt-text-color: #6e6e86;
$dark-green-color-text: #494b5b;

$button-tech-color: #0e0d35;

$project-background-color: #f7f7f7;
$project-header-color: #262549;

$main--dark-header-color: #2f2f2f;
$main-dark-blue-color: #3769f1;
$customer-card-color: #e4e4e43d;

$max-content-width: 1400px;

$deep-dark-color: #1a1a1a;
$footer-rights-color: #818181;

$deep-blue-color: #04257e;
$deep-violet-color: #0b2471;

$light-grey-color: #e0d5c8;
$blue-sky-color: #0e40c7;

$skin-light-color: #fff8c2;
$pearl-color: #e7e7eb;
$service-card-color: #fcfcfc;
$service-card-header-color: #0b032a;
$service-card-tech-color: #383838;
$service-deep-blue-color: #0e0d35;
$service-grey-text-color: #515151;
$service-grey-border-color: #f0ebe4;

$industry-text-grey-color: #eef3ff;

$about-grey-color: #cad8ff;
$about-pearl-color: #fefce8;
$about-skin-color: #f6f3ef;
