$main-yellow-color: #ffeb6b;
$main-orange-color: #fcca13;
$header-dark-color: #0b103d;
$main-header-color: #6e6e86;
$main-text-color: #565672;

$project-header-color: #262549;

$main--dark-header-color: #2f2f2f;
$main-dark-blue-color: #3769f1;
$customer-card-color: #e4e4e43d;

$max-content-width: 1400px;

$deep-dark-color: #1a1a1a;
$footer-rights-color: #818181;
