$main-yellow-color: #ffeb6b;
$main-orange-color: #fcca13;
$header-dark-color: #0b103d;
$main-header-color: #6e6e86;
$main-text-color: #565672;
$header-background-color: #f8f8f8;

$tab-link-color: #87869a;
$alt-text-color: #6e6e86;
$dark-green-color-text: #494b5b;

$button-tech-color: #0e0d35;

$project-background-color: #f7f7f7;
$project-header-color: #262549;

$main--dark-header-color: #2f2f2f;
$main-dark-blue-color: #3769f1;
$customer-card-color: #e4e4e43d;

$max-content-width: 1400px;

$deep-dark-color: #1a1a1a;
$footer-rights-color: #818181;
