@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./../assets/fonts/Inter/Inter-Bold.ttf") format("WOFF2");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./../assets/fonts/Inter/Inter-Medium.ttf") format("WOFF2");
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./../assets/fonts/Inter/Inter-Regular.ttf") format("WOFF2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./../assets/fonts/Inter/Inter-SemiBold.ttf") format("WOFF2");
  font-weight: 600;
  font-style: semibold;
}
.page-content .team-info__container .content {
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.38);
  box-shadow: -32.6818122864px 32.6818122864px 32.6818122864px 0px rgba(255, 255, 255, 0.1) inset, 32.6818122864px -32.6818122864px 32.6818122864px 0px rgba(194, 194, 194, 0.1) inset;
  backdrop-filter: blur(32.6818122864px);
}

.services__tabs ul, .page-header .mobile-list ul {
  padding: 0;
  list-style: none;
  cursor: pointer;
}

.projects .technoligies ul, .page-content .team-info__container .content .team-list ul {
  padding: 0;
  list-style: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.page-header .mobile-list__button {
  font-style: normal;
  text-align: center;
  padding: 8px 28px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 14px;
}

.page-content .invitation__link-container a {
  font-style: normal;
  text-align: center;
  padding: 12px 32px;
  border-radius: 40px;
  cursor: pointer;
}

.projects .card .technoligies ul li {
  font-style: normal;
  text-align: center;
  padding: 6px 10px;
  border-radius: 27px;
  cursor: pointer;
}

.advantages__recall p, .projects p, .page-content .invitation p {
  font-size: 14px;
  font-weight: 400;
  color: #565672;
  margin: 0;
}

.about p, .services p {
  font-size: 14px;
  font-weight: 400;
  color: #6e6e86;
}

.footer h3 {
  font-size: 24px;
  font-style: normal;
  color: #2f2f2f;
  font-weight: 500;
  margin: 0;
}

.customer__cards .card__body p {
  font-size: 14px;
  color: #2f2f2f;
  font-weight: 400;
}

.projects h3 {
  font-size: 18px;
  font-weight: 600;
  color: #262549;
  margin: 0;
}

.feedback h3, .customer h3, .about h3, .services h3, .projects h2 {
  font-size: 24px;
  font-weight: 600;
  color: #0b103d;
  margin: 0;
}

.footer__rights {
  color: #818181;
  font-size: 14px;
  font-weight: 400;
}

.page-header .mobile-list .list-container, .page-header__navigation {
  box-shadow: -45px 45px 45px 0px rgba(255, 255, 255, 0.1019607843) inset;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 45px -45px 45px 0px rgba(194, 194, 194, 0.1019607843) inset;
}

.active-link {
  color: #0b103d;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.36px;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  overflow-wrap: break-word;
  color: black;
  background-color: white;
  margin: 0;
}

.page-header__navigation {
  position: fixed;
  top: 10px;
  left: 16px;
  right: 16px;
  z-index: 2;
  border-radius: 56px;
}
.page-header__navigation .container-list {
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}
.page-header__navigation .burger {
  cursor: pointer;
}
.page-header .mobile-list {
  position: relative;
  top: -34px;
  max-height: 0;
}
.page-header .mobile-list .list-container {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 20px;
  border-radius: 0 0 24px 24px;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
}
.page-header .mobile-list ul {
  margin-top: 21px;
  padding-left: 16px;
  margin-bottom: 10px;
}
.page-header .mobile-list ul li:not(:last-child) {
  margin-bottom: 32px;
}
.page-header .mobile-list__button {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 130px;
  margin-left: auto;
  margin-right: auto;
}

.page-content {
  margin-top: 90px;
  background-color: #f8f8f8;
  padding-bottom: 75px;
}
.page-content .team-info {
  background-image: url("../assets/images/main-page-photo.svg");
  background-repeat: no-repeat;
  min-height: 320px;
  align-content: center;
  gap: 32px;
}
.page-content .team-info__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22px;
  position: relative;
}
.page-content .team-info__container .content {
  max-width: 205px;
  padding: 20px;
}
.page-content .team-info__container .content .successful {
  font-size: 18px;
  font-weight: 700;
}
.page-content .team-info__container .content .average {
  color: #e3e3e3;
  font-size: 9px;
  font-weight: 600;
}
.page-content .team-info__container .content .progress {
  width: 100%;
  background-color: #3769f1;
  height: 4px;
  border-radius: 4px;
  margin-top: 10px;
}
.page-content .team-info__container .content:first-child {
  margin-top: 20px;
  margin-right: -45%;
}
.page-content .team-info__container .content:last-child {
  margin-left: -45%;
}
.page-content .team-info__container .content .team-list ul li {
  margin-right: -5px;
}
.page-content .team-info .name {
  font-size: 14px;
  font-weight: 700;
}
.page-content .team-info .name img {
  vertical-align: middle;
}
.page-content .main-video img {
  width: 100%;
}
.page-content .invitation {
  padding-left: 16px;
  padding-right: 16px;
}
.page-content .invitation h1 {
  font-weight: 600;
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 32px;
}
.page-content .invitation p {
  margin-bottom: 32px;
}
.page-content .invitation__link-container {
  margin-bottom: 88px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.page-content .invitation__link-container a {
  display: inline-block;
  width: 100%;
}
.page-content .invitation__link-container a:first-child {
  background-color: #000;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  width: 100%;
}
.page-content .invitation__link-container a:last-child {
  padding-left: 25px;
  position: relative;
  background-color: #ffeb6b;
  color: #000;
  font-size: 14px;
  font-style: normal;
}
.page-content .invitation__link-container a:last-child img {
  position: absolute;
  top: 9px;
}

.dot-blue {
  color: #3769f1;
}

.projects {
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  margin-top: -20px;
  padding-top: 55px;
}
.projects__examples {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 40px;
}
.projects .card {
  border-radius: 16px;
}
.projects .card:not(:last-child) {
  margin-bottom: 16px;
}
.projects .card:nth-child(odd) {
  background-color: #f7f7f7;
}
.projects .card:nth-child(even) {
  background-color: #3769f1;
}
.projects .card__header {
  padding-left: 27px;
  padding-top: 27px;
}
.projects .card__body {
  display: flex;
  justify-content: center;
}
.projects .card .technoligies ul {
  margin-top: 0;
  margin-bottom: 32px;
}
.projects .card .technoligies ul li {
  font-size: 9.615px;
  color: #fff;
  font-weight: 500;
  background-color: #3769f1;
}
.projects .card .technoligies ul li:not(:last-child) {
  margin-right: 6px;
}
.projects h2 {
  text-align: center;
  margin-bottom: 32px;
}
.projects h3 {
  margin-bottom: 14px;
}
.projects p {
  margin-bottom: 12px;
}
.projects-cases {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
}
.projects-cases h3 {
  font-size: 20px;
  color: #2f2f2f;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 0;
}
.projects-cases p {
  color: #6e6e86;
  margin-top: 0;
  margin-bottom: 30px;
}
.projects-cases a {
  padding-left: 32px;
  padding-right: 62px;
  font-size: 16px;
  font-weight: 500;
  width: 220px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 40px;
  background-color: #1a1a1a;
  color: #fff;
  position: relative;
}
.projects-cases a img {
  position: absolute;
  top: 10px;
  right: 35px;
}

.technologies {
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: #f8f8f8;
}
.technologies ul {
  padding: 0;
  overflow-x: auto;
  white-space: nowrap;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  list-style: none;
}
.technologies ul li {
  flex-shrink: 0;
}

.advantages {
  padding-bottom: 40px;
  padding-left: 45px;
  padding-right: 45px;
  border-radius: 20px 20px 0 0;
  margin-top: -39px;
  background-color: #fff;
  padding-top: 55px;
}
.advantages h3 {
  font-weight: 600;
  font-size: 24px;
  color: #0b103d;
  text-align: center;
  margin-bottom: 45px;
  margin-top: 0;
}
.advantages__recall span {
  text-transform: uppercase;
  font-size: 12px;
  color: #fcca13;
  font-weight: 700;
  margin-bottom: 8px;
}
.advantages__recall h4 {
  font-size: 18px;
  color: #0b103d;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 12px;
  margin-bottom: 12px;
}
.advantages__recall p {
  color: #6e6e86;
  margin-top: 0;
  margin-bottom: 55px;
}

.tab-content {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.active-link {
  padding-left: 24px;
}

.services {
  padding-top: 72px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f8f8f8;
  padding-bottom: 72px;
  margin-bottom: 72px;
}
.services p {
  margin-top: 0;
  margin-bottom: 32px;
}
.services__tabs ul li .tab-item {
  position: relative;
}
.services__tabs ul li:not(:last-child) {
  margin-bottom: 16px;
}
.services h3 {
  text-align: center;
  margin-bottom: 24px;
}

.about {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 120px;
}
.about .about-button {
  padding: 25px;
  font-size: 16px;
  color: #1a1a1a;
  font-weight: 600;
  background-color: #ffeb6b;
  border-radius: 8px;
  cursor: pointer;
}
.about h3 {
  margin-bottom: 25px;
}
.about p {
  margin-top: 0;
  margin-bottom: 56px;
}
.about__images .grid-block {
  display: flex;
  gap: 8px;
  flex-direction: row;
}
.about__images .grid-block:first-child {
  margin-bottom: 8px;
}
.about__images .block {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.customer {
  padding-left: 20px;
  margin-bottom: 100px;
}
.customer__navigation {
  display: flex;
  flex-direction: row;
}
.customer h3 {
  margin-bottom: 32px;
}
.customer__cards {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
.customer__cards .card {
  border-radius: 8px;
  flex-shrink: 0;
  margin-bottom: 20px;
  margin-right: 28px;
  width: 310px;
  min-height: 342px;
  padding: 20px;
  background-color: rgba(228, 228, 228, 0.2392156863);
}
.customer__cards .card__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.customer__cards .card__body p {
  margin-top: 0;
  margin-bottom: 20px;
}
.customer__cards .card__footer .customer-info p {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  color: #2f2f2f;
}
.customer__cards .card__footer .customer-info span {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  color: #3769f1;
}
.customer__cards .card__customer {
  display: flex;
  flex-direction: row;
}
.customer__cards .card__customer .customer-image {
  margin-right: 8px;
}
.customer__cards .card__customer .customer-info p {
  margin-top: 0;
  margin-bottom: -3px;
}

.feedback {
  padding-left: 20px;
  padding-right: 20px;
}
.feedback__contacts {
  color: #3769f1;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 45px;
}
.feedback h3 {
  margin-bottom: 16px;
}
.feedback p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 40px;
  color: #494b5b;
}
.feedback__form p {
  margin-bottom: 16px;
  margin-top: 0;
  font-size: 16px;
  color: #565672;
  font-weight: 500;
}
.feedback__form .input-container input,
.feedback__form .input-container textarea {
  width: 100%;
}

.footer {
  background-color: #1a1a1a;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}
.footer p {
  color: #fff;
  opacity: 0.6;
}
.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer__explore div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__explore div a {
  color: #fff;
}
.footer__explore h4 {
  color: #fff;
  opacity: 0.6;
  font-size: 16px;
  font-weight: 400;
}
.footer__in-touch {
  color: #fff;
}
.footer__underline {
  background-color: #666;
  width: 350px;
}
.footer__rights {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
